#topbanner970,
.adsbygoogle,
.page-content > div:first-child,
empty {
  display: none!important;
}
body > * {
  display: none;
}
body div.page {
  display: block;
}
body > div[data-tippy-root] {
  display: block;
}
